.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 10;
  padding: 10px 0;
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.header-button:hover {
  transform: scale(1.1);
}

.header-button:after {
  content: attr(data-text);
  display: block;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.header-button:hover:after {
  opacity: 1;
}

.img-contained {
  max-width: 100%;
  height: 20%;
  display: block;
}

.quoteBox {
  position: relative;
}

.quoteBox::before {
  content: '“';
  font-size: 50px;
  color: white;
  position: absolute;
  top: 8px;
  left: 50px;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 100rem;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-oleo {
  font-family: 'Oleo Script', cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow: hidden;
}

.carousel :where(.card, .cardimg) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card {
  height: 342px;
  list-style: none;
  background: black;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .cardimg {
  background: white;
  width: 148px;
  height: 148px;
  border-radius: 50%;
}

.card .cardimg img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  font-size: 1.31rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
